$fontFamily: "Heebo";
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer:856;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;

.footer {
	text-align: center;
	padding: 50px 0px;
	@media (max-width: $md3+px) {
		padding: 30px 0px;
	}
	&__content {}
	&__social {
		margin: 0px 0px 25px 0px;
	}
	&__copy {}
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	&__item{
		transition: color 0.3s ease 0s;
		margin: 0px 17px;
		font-size: 30px;
		color: inherit;
		@media (min-width: $md2+px) {
			&:hover{
				color: #ff6464;
			}
		}
	}
}
